body{
  background-color: black !important;
  text-align: center;
  background-image: url('https://d2gg9evh47fn9z.cloudfront.net/thumb_COLOURBOX11033625.jpg');
  background-size: 100%;
    background-repeat: repeat-y;
    /*width: 100%;*/
    background-position: 50% 0;

}
#banner{
  margin-bottom: 500px;
  margin-top: 500px;
  /*margin: 0 auto;*/
}

div{
  /*-webkit-animation-duration: 3s;*/
  /*-webkit-animation-delay: 2s;*/
  /*-webkit-animation-iteration-count: infinite;*/
}
#cat{
  /*height: 300px;*/
  margin-bottom: 300px;
}
h1{
  color: red !important;
  -webkit-animation-iteration-count: infinite;
}
img{
  max-width: 90%;
}
/*#fish{
  margin-top: 500px;
}*/
#girl, #monkey, #fat{
  margin-bottom: 500px;
}
#input-box{
  -webkit-animation-duration: 3s;
}
#face{
  margin-top: 500px;
  margin-bottom: 500px;
}
.fat{
  max-width: 20%;
  margin: 20px;
}
.fat1{
  margin-top: -130px;
}
.fat2{
  margin-top: 230px;
}
.fat4{
  margin-top: 130px;
}
.fat5{
  margin-top: -330px;
}
ul li{
   display: inline !important;
}
.divy{
  width: 250px;
  height: 250px;
  background-color: white;
  border: 2px solid black;
  margin: 0 auto;
}
.div2{
  margin-top: 500px;
  margin-bottom: 500px;
  width: 50px;
  height: 50px;
  border: 2px solid black;
}
.no-opacity{
  opacity: 0;
}
#penguin{
  margin-bottom: 500px;
}
